@font-face {
  font-family: "Krona One";
  src: url("./fonts/KronaOne-Regular.ttf/") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Just Me Again Down Here";
  src: url("./fonts/JustMeAgainDownHere-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.bouton {
  background: #FFC32A;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  border-radius: 0.5em;
  border: 2px outset buttonborder;
  margin-top: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.bouton--silver {
  background-color: #e1e7ee;
}

.navigation {
  width: 20%;
  background-color: #006793;
  height: 94.5vh;
  min-width: 200px;
}
.navigation__bouton {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  text-align: center;
  max-width: 25%;
}
.aside__section {
  width: 100%;
}
.aside__logo {
  width: 100%;
}
.aside__fonction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.enTete {
  background-color: #004360;
  display: grid;
  grid-template-columns: 10% 20% 50%;
}
.enTete__text {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  line-height: normal;
}
.enTete__text--time {
  font-family: "Krona One", sans-serif;
}
.enTete__text--identifiant {
  font-family: "Just Me Again Down Here";
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  text-align: center;
  max-width: 25%;
}
.aside__section {
  width: 100%;
}
.aside__logo {
  width: 100%;
}
.aside__fonction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.enTete {
  background-color: #004360;
  display: grid;
  grid-template-columns: 10% 20% 50%;
}
.enTete__text {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  line-height: normal;
}
.enTete__text--time {
  font-family: "Krona One", sans-serif;
}
.enTete__text--identifiant {
  font-family: "Just Me Again Down Here";
}

.index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableau {
  border-collapse: collapse;
  width: 100%;
}
.tableau__enTete {
  border: 2px solid black;
  padding: 10px;
  text-align: start;
  background-color: #555555;
  color: white;
  font-size: 1.6rem;
}
.tableau__cellule {
  border: 2px solid black;
  padding: 13px;
  text-align: start;
  background-color: #e2e2e2;
  font-size: 1rem;
}

.filtre {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.filtre__champs {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
.filtre__boutons {
  display: flex;
}
.filtre__boutons--affichage {
  flex-direction: column;
}
.filtre__boutons--effacer {
  margin-right: 1em;
}

.action {
  display: inline-block;
}
.action__bouton {
  width: 80%;
  margin: auto;
}

.formular {
  width: 75%;
  margin-left: 10%;
}
.formular__field {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}
.formular__label {
  display: inline-block;
  width: 35%;
}
.formular__label--note {
  margin-top: 6%;
}
.formular__customer {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-around;
}
.formular__customer--legend {
  margin: auto;
}
.formular__customer--radio {
  margin-top: 2%;
  margin-bottom: 2%;
}
.formular__button {
  display: flex;
  justify-content: space-around;
}
.formular__target {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.formular__target--cancel {
  background-color: red;
  color: white;
}

/*# sourceMappingURL=style.css.map */
