<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>POECAHONTAS - Fiche client</title>
        <link rel="stylesheet" href="/asset/style.css">
        <link rel="stylesheet" href="/asset/fonts/fontawesome-free-6.5.1-web/css/all.min.css">
    </head>
    <body class="corps">
        
        <header class="enTete">
            <div class ="enTete__text enTete__text--time" id="heure">heure</div>
            <div class ="enTete__text enTete__text--time" id="date">date</div> 
            <div class ="enTete__text enTete__text--identifiant">Bonjour Jonathan</div>     
        </header>
        <nav>
            <a th:href="@{/listCustomers}">Acceuil</a>
            <a href="client.html">Retour au client</a>
        </nav>
		  <main title="Information client" class="formular">
			            <form method="post" action="#">
			                <fieldset form="estimate" title="estimate">
			                    <legend class="titre">Champs obligatoires : *</legend>
			                    <div class="formular__field">
			                        <label for="name" class="formular__label">Nom du client * :</label>
			                        <input type="text" id="name" name="name" required autocomplete="family-name">                        
			                    </div>
			                    <div class="formular__field">
			                        <label for="label" class="formular__label">Libellé * :</label>
			                        <input type="text" id="firstname" name="firstname" required autocomplete="label">                        
			                    </div>
			                    <div class="formular__field">
			                        <label for="adrEt" class="formular__label">TJM * :</label>
			                        <input type="text" id="company" name="company" required autocomplete="tjm">                        
			                    </div>
			                    <div class="formular__field">
			                        <label for="tva" class="formular__label">TVA * </label>
			                        <input type="text" id="email" name="email" required autocomplete="tva">                        
			                    </div>
			                    <div class="formular__field">
			                        <label for="status" class="formular__label">Statut</label>
			                        <input type="text" id="phone" name="phone" autocomplete="status">                        
			                    </div>
			                    <div class="formular__field">
			                        <label for="type" class="formular__label">Type</label>
			                        <input type="text" id="celular" name="cellular" autocomplete="type">                        
			                    </div>
			                    <div class="formular__field">
			                        <label for="commentary" class="formular__label formular__label--note">Notes :</label>
			                        <textarea name="commentary" id="commentary" cols="20" rows="10"></textarea>                        
			                    </div>
			                    <fieldset form="guarantees" name="guarantees" class="formular__customer">
			                        <legend class="formular__customer--legend">Garanties * :</legend>
			                        <span class="formular__customer--radio">
			                            <input type="radio" id="guarantee" name="guarantee" required>
			                            <label for="guarantee">Oui</label>
			                        </span>
			                        <span class="formular__customer--radio">
			                            <input type="radio" id="customer" name="customer">  
			                            <label for="customer">Non</label>
			                        </span>
			                    </fieldset>
			                    <fieldset form="state" name="state" class="formular__customer">
			                        <legend class="formular__customer--legend">Estimé * :</legend>
			                        <span class="formular__customer--radio">
			                            <input type="radio" id="estimate" name="no" required>
			                            <label for=""estimate"">Oui</label>
			                        </span>
			                        <span class="formular__customer--radio">
			                            <input type="radio" id="customer" name="yes">  
			                            <label for="estimate">Non</label>
			                        </span>
			                    </fieldset>
			                    <span class="formular__button">
			                        <button type="reset" class="bouton formular__target formular__target--cancel"><span class="fa-solid fa-xmark"></span>Annuler</button>
			                        <button type="submit" class="bouton formular__target"><span class="fa-solid fa-check"></span>Enregistrer</button>
			                        <button type="reset">Supprimer le devis</button><!-- Affichage conditionnelle à un client déjà existant-->
			                    </span>
			                </fieldset>
			            </form>
			            <div class="bouton">
		                    <button class="favorite styled" type="submit">Enregistrer</button>
		                    <button class="favorite styled" type="submit">Envoyer devis</button>
		                </div>
			        </main>
      
                
       
        <script src="../asset/script/time.js"></script>
    </body>
</html>