<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fragment.html :: head(title='Création Client')">
</head>

    <body>
        <div th:insert="fragment/fragment.html :: header"></div>
        <nav>
            <a th:href="@{/listCustomers}">Acceuil</a>
        </nav>
        <main title="Information client" class="formular">
            <form method="post" action="#" th:action="@{/createUser}" th:object="${userForm}">
                <fieldset form="client" title="client">
                    <legend class="titre">Champs obligatoires : *</legend>
                    <div class="formular__field">
                        <label for="username" class="formular__label">identifiant * :</label>
                        <input type="text" id="username" th:field="*{username}" required autocomplete="username">                        
                    </div>
                    <div class="formular__field">
                        <label for="password" class="formular__label">Password * :</label>
                        <input type="password" id="password" th:field="*{password}" required autocomplete="password">                        
                    </div>
                    <div class="formular__field">
                        <label for="mail" class="formular__label">Adresse e-mail * :</label>
                        <input type="email" id="mail" th:field="*{mail}" required autocomplete="mail">                        
                    </div>
                    <div class="formular__field">
                        <label for="grants" class="formular__label">Rôle</label>
                        <select name="grants" id="grants"> 
                        	<option value="">--choississez un rôle--</option>
                        	<option value="ROLE_ADMIN" th:field="*{grants}">Administrateur</option>
                        	<option value="ROLE_USER" th:field="*{grants}">Commercial</option>
                        	<option value="ROLE_VIEWER" th:field="*{grants}">Logistique</option>
                        </select>	                     
                    </div>

                    <span class="formular__button">
                        <a th:href="@{/listUsers}" type="reset" class="bouton formular__target formular__target--cancel"><span class="fa-solid fa-xmark"></span>Annuler</a>
                        <button type="submit" class="bouton formular__target"><span class="fa-solid fa-check"></span>Enregistrer</button>
                    </span>
                </fieldset>
            </form>
        </main>
        <section>

        </section>
        <script src="/asset/script/time.js"></script>
    </body>
</html>