<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fragment.html :: head(title='Création Commande')">
</head>

    <body>
        <div th:insert="fragment/fragment.html :: header"></div>
        <div class="index">
            <nav th:replace="fragment/fragment.html :: nav"></nav>
        <main title="Information client" class="formular">
        <div>
            <form method="post" action="#" th:action="@{/createOrder}" th:object="${orderForm}">
                <fieldset form="client" title="client">
                    <legend class="titre">Champs obligatoires : *</legend>
                    <div class="formular__field">
                        <label for="customerId" class="formular__label">Id du client * :</label>
                        <input type="text" id="customerId" th:field="*{customerId}" required autocomplete="family-name"><span th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}" ></span>                        
                    </div>
                    <div class="formular__field">
                        <label for="label" class="formular__label">Libellé * :</label>
                        <input type="text" id="label" th:field="*{label}" required autocomplete="given-name"><span th:if="${#fields.hasErrors('label')}" th:errors="*{label}" ></span>                        
                    </div>
                    <div class="formular__field">
                        <label for="adrEt" class="formular__label">TJM * :</label>
                        <input type="text" id="adrEt" th:field="*{adrEt}" required autocomplete="organization"><span th:if="${#fields.hasErrors('adrEt')}" th:errors="*{adrEt}" ></span>                        
                    </div>
                    <div class="formular__field">
                        <label for="numberOfDays" class="formular__label">Nombre de jours *</label>
                        <input type="text" id="numberOfDays" th:field="*{numberOfDays}" required autocomplete="email"><span th:if="${#fields.hasErrors('numberOfDays')}" th:errors="*{numberOfDays}" ></span>                        
                    </div>
                    <div class="formular__field">
                        <label for="tva" class="formular__label">TVA *</label>
                        <input type="text" id="tva" th:field="*{tva}" autocomplete="tva"><span th:if="${#fields.hasErrors('tva')}" th:errors="*{tva}" ></span>                        
                    </div>
                    <div class="formular__field">
                        <label for="status" class="formular__label">Statut</label>
                        <input type="text" id="status" th:field="*{status}" autocomplete="status"><span th:if="${#fields.hasErrors('status')}" th:errors="*{status}" ></span>                        
                    </div>
                    <div class="formular__field">
                        <label for="type" class="formular__label">Type</label>
                        <input type="text" id="type" th:field="*{type}" autocomplete="type"><span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" ></span>                        
                    </div>
                    <div class="formular__field">
                        <label for="notes" class="formular__label formular__label--note">Notes</label>
                        <textarea name="notes" id="notes" cols="20" rows="10"></textarea>                        
                    </div>
                    <div class="formular__field">
                        <label for="guarantee" class="formular__label formular__label--note">Garanties</label>
                        <input type="date" th:field="*{guarantee}" id="guarantee" autocomplete="guarantee"></input> <span th:if="${#fields.hasErrors('guarantee')}" th:errors="*{guarantee}" ></span>                       
                    </div>
                    
                     <fieldset form="state" name="state" class="formular__customer">
                        <legend class="formular__customer--legend">Devis</legend>
                        <span class="formular__customer--radio">
                            <input type="radio" value="true" id="estimateYes" th:field="*{estimate}" required>
                            <label for="estimate">Oui</label>
                        </span>
                        <span class="formular__customer--radio">
                            <input type="radio" value="false" id="estimateNo" th:field="*{estimate}">  
                            <label for="estimate">Non</label>
                        </span>
                    </fieldset> 
                    <span class="formular__button">
                        <a th:href="@{/listOrders}" type="reset" class="bouton formular__target formular__target--cancel"><span class="fa-solid fa-xmark"></span>Annuler</a>
                        <button type="submit" class="bouton formular__target"><span class="fa-solid fa-check"></span>Enregistrer</button>
                    </span>
                </fieldset>
            </form>
            </div>
        </main>
        <aside class="aside">
			<img class="aside__logo" src="/asset/images/crm_poecahontas.jpg"
				alt="poecahontas" title="poecahontas" />
			<div class="aside__fonction">
			</div>
		</aside>
        </div>
        <script src="/asset/script/time.js"></script>
    </body>
</html>