<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>POECAHONTAS - Fiche client</title>
        <link rel="stylesheet" href="../static/asset/style.css">
        <link rel="stylesheet" href="../static/asset/fonts/fontawesome-free-6.5.1-web/css/all.min.css">
    </head>
    <body>
         <header class="enTete">
            <div class ="enTete__text enTete__text--time" id="heure">heure</div>
            <div class ="enTete__text enTete__text--time" id="date">date</div> 
            <div class ="enTete__text enTete__text--identifiant">Bonjour Jonathan</div>     
        </header>  
        <nav>
            <a th:href="@{/listCustomers}">Acceuil</a>
            <a th:href="client.html">Retour au client</a>
        </nav>
        <main>
        	<div th:switch="${listOrders}">
        		<h2 th:case="null">Pas de devisen cours</h2>
        			<div th:case="*">
			            <table class="tableau">
			                 <caption class="tableau__enTete"><span class="fa-solid fa-user"></span> Liste des devis du client</caption>
			                <tr>
			                	<th class="tableau__cellule">Nom</th>
			                    <th class="tableau__cellule">Libellé</th>
			                    <th class="tableau__cellule">TJM</th>
			                    <th class="tableau__cellule">TVA</th>
			                    <th class="tableau__cellule">Statut</th>
			                    <th class="tableau__cellule">Type</th>
			                    <th class="tableau__cellule">notes</th>
			                    <th class="tableau__cellule">Guaranties</th>
			                    <th class="tableau__cellule">estimé</th>
			                </tr>
			               <tr th:each="order : ${listOrders}" class="tableau__cellule">
			                    <td th:text="${customer.lastname}" class="tableau__cellule"></td>
			                    <td th:text="${order.label}" class="tableau__cellule"></td>
			                    <td th:text="${order.adrEt}" class="tableau__cellule"></td>
			                    <td th:text="${order.tva}" class="tableau__cellule"></td>
			                    <td th:text="${order.status}" class="tableau__cellule"></td>
			                    <td th:text="${order.type}" class="tableau__cellule"></td>
			                    <td th:text="${order.notes}" class="tableau__cellule"></td>
			                    <td th:text="${order.guarantee}" class="tableau__cellule"></td>
			                    <td th:text="${order.estimate}" class="tableau__cellule"></td>
			                </tr>		                
			            </table>
			         </div>
			      </div>   
	        </main>
	        <aside>
	            <form action="#" pethod="post">
	                <fieldset form="filter" title="Filtre de Recherche">
	                    <legend>Filtre de recherche</legend>
	                    <div>
	                        <label for="wording">Libellé</label>
	                        <input type="text" id="wording" name="wording">
	                    </div>
	                    <div>
	                        <button type="submit">Avec garantie</button>
	                        <button type="submit">Sans garantie</button>
	                    </div>
	                </fieldset>
	            </form>
	        </aside>
	    </body>
</html>