<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fragment.html :: head(title='Liste des utilisteurs')">
</head>
<body>
	<div th:insert="fragment/fragment.html :: header"></div>
	<main class="index">
	<nav th:replace="fragment/fragment.html :: nav"></nav>
		<div th:switch="${users}">
			<h2 th:case="null">Pas d'utilisateurs!</h2>
			<div th:case="*">
				<table class="tableau">
					<caption class="tableau__enTete">
						<span class="fa-solid fa-user"></span> Liste des utilisateurs :
					</caption>
					<tr>
						<th class="tableau__cellule">Identifiant</th>
						<th class="tableau__cellule">Adresse e-mail</th>
						<th class="tableau__cellule">Droits d'utilisation</th>
						<th class="tableau__cellule">Action</th>
					</tr>
					<tr th:each="user : ${users}">
						<td th:text="${user.username}" class="tableau__cellule"></td> 
						<td th:text="${user.mail}" class="tableau__cellule"></td>
						<td th:text="${user.grants == 'ROLE_ADMIN' ? 'ADMIN' : (user.grants == 'ROLE_USER' ? 'COMMERCIAL' : (user.grants == 'ROLE_VIEWER' ? 'LOGISTIQUE' : user.grants))}"   class="tableau__cellule"></td>
						<td class="tableau__cellule"><a th:if="${#ctx.session.role == 'ROLE_ADMIN' || #ctx.session.role == 'ROLE_USER'}" th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-primary"><span class="fa-regular fa-circle-xmark"></span></a></td>
					</tr>
				</table>
			</div>
		</div>
		<aside class="aside">
			<img class="aside__logo" src="/asset/images/crm_poecahontas.jpg"
				alt="poecahontas" title="poecahontas" />
			<div class="aside__fonction">
				<section id="section" class="aside__section">
					<h2 class="titre">Action</h2>
					<a th:if="${#ctx.session.role == 'ROLE_ADMIN' || #ctx.session.role == 'ROLE_USER'}" th:href="@{/createUser}" class="action bouton action__bouton">
						<span class="fa-solid fa-plus"></span>  Utilisateur</a>
				</section>
			</div>
		</aside>
	</main>
	<script src="/asset/script/time.js"></script>
</body>
</html>