.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
    &__logo {
        width: 70%;
    }
    &__fonction {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}