.filtreDevis {
    display: flex;
    flex-direction: column;
    &__label  {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__boutons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}