body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

img {
    vertical-align: middle;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button#e5 {
    background-color: #e74c3c;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nom_page {
    color: #333;
}

.nom_etp li {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

textarea {
    height: 100px;
}

.contenu {
    display: flex;
    justify-content: space-between;
}

.gauche, .droite {
    width: 48%;
}