<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="${title}"></title>
<link rel="stylesheet" href="/asset/style.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" />
<script src="/asset/script/time.js"></script>
</head>


<header class="enTete" th:fragment="header">
		<div class="enTete__text enTete__text--time" id="heure">heure</div>
		<div class="enTete__text enTete__text--time" id="date">date</div>
		<div class="enTete__text enTete__text--identifiant">Bonjour</div>
</header>

<nav th:fragment="nav" class="navigation">
       <a th:href="@{/listCustomers}" class="action bouton navigation__bouton">Clients</a>
       <a th:href="@{/listOrders}" class="action bouton navigation__bouton">Commandes</a>
       <a th:if="${#ctx.session.role} == 'ROLE_ADMIN'" th:href="@{/listUsers}" class="action bouton navigation__bouton">Utilisateurs</a>
       <a th:href="@{/logout}" class="bouton formular__target navigation__bouton formular__target--cancel" >Déconnexion</a>
</nav>    
</html>