@font-face  {
    font-family: "Krona One";
    src: url("./fonts/KronaOne-Regular.ttf/") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Just Me Again Down Here";
    src: url("./fonts/JustMeAgainDownHere-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}