.tableau {
    border-collapse: collapse;
    width: 100%;
    &__enTete{
        border: 2px solid black;
        padding: 10px;
        text-align: start;
        background-color: #555555;
        color: #FFFF;
        font-size: 1.6rem;
    }
    &__cellule {
        border: 2px solid black;
        padding: 13px;
        text-align: start;
        background-color: #e2e2e2;
        font-size: 1rem;
    }
}