.filtre{
    margin: auto;
    display: flex;
    flex-direction: column;
    &__champs{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5em;
    }
    &__boutons{
        display: flex;
        &--affichage{
            flex-direction: column;
        }
        &--effacer{
            margin-right: 1em;
        }
    }
}