.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
    max-width: 25%;
    &__section {
        width: 100%;
    }
    &__logo {
        width: 100%;
    }
    &__fonction {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}