.enTete {
    background-color: $color_background_header;
    display: grid;
    grid-template-columns: 10% 20% 50%;

    &__text {
        display:flex;
        justify-content: center;
        color: #FFFF;
        text-align: center;
        font-size: 1.5rem;
        line-height: normal;
        &--time{
            font-family : 'Krona One', sans-serif;
        }
        &--identifiant{
            font-family: "Just Me Again Down Here";
        }
    }
}